<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/account/css/account.css">
    <link rel="stylesheet" href="../static/home/style/navbar.css">
    <script src="https://kit.fontawesome.com/683901d729.js" crossorigin="anonymous"></script>
    <title> Teacher Tools </title>
</head>

<body>
    <nav class="mainNav">
        <a href="{{ url_for('home') }}"> <i class="fa-solid fa-house"></i> Home </a>
        <a href="{{ url_for('student') }}"> <i class="fa-solid fa-magnifying-glass"></i> Student Search </a>
        <a href="{{ url_for('teacher_tools')}}"> <i class="fa-solid fa-chalkboard-user"></i> Teacher Tools</a>
        {% if user[0]['Role'] == 'admin' %}
            <a href="{{ url_for('admin_tools')}}"> <i class="fa-solid fa-user-secret"></i> Admin Tools</a>
        {% endif %}
        <a href="{{ url_for('account')}}"> <i class="fa-solid fa-user"></i> Account</a>
    </nav>

    <main class="mainContent">
        <div id="accountHeader">
            <h1>Teacher Tools</h1>
            <p>Tools for teachers</p>
        </div>
    </main>
</body>