body{
    height: 100vh;
    margin: 0;
}

.mainNav{
    background-color: lightgray;
    height: 100%;
    width: 200px;
    margin: 0;
    padding: 0;
    position: fixed;
}

.mainNav a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

.mainNav a.active{
    background-color: rgb(52, 83, 156);
    color: white;
}